<div layout="row" flex>
    <md-sidenav
            md-component-id="{{sideNavComponentId}}"
            md-whiteframe="3"
            class="md-sidenav-left"
            md-is-locked-open="$mdMedia('gt-lg')">
        <md-content layout="column">
            <md-button class="md-warn md-raised" ng-click="toggleSideNav()" hide-gt-lg>
                Close
            </md-button>
            <md-button ng-if="filters.searchText ||
                                            filters.minDamage ||
                                            filters.maxDamage ||
                                            filters.minSoak ||
                                            filters.maxSoak ||
                                            filters.minDefensive ||
                                            filters.maxDefensive ||
                                            filters.minDeflection ||
                                            filters.maxDeflection ||
                                            filters.minCrit ||
                                            filters.maxCrit ||
                                            filters.minRarity ||
                                            filters.maxRarity ||
                                            filters.minEncumbrance ||
                                            filters.maxEncumbrance ||
                                            filters.minHP ||
                                            filters.maxHP ||
                                            filters.minPrice ||
                                            filters.maxPrice ||
                                            filters.minWoundThreshold ||
                                            filters.maxWoundThreshold ||
                                            filters.minStrainThreshold ||
                                            filters.maxStrainThreshold ||
                                            filters.minExperience ||
                                            filters.maxExperience ||
                                            filters.minBrawn ||
                                            filters.maxBrawn ||
                                            filters.minAgility ||
                                            filters.maxAgility ||
                                            filters.minIntelligence ||
                                            filters.maxIntelligence ||
                                            filters.minCunning ||
                                            filters.maxCunning ||
                                            filters.minWillpower ||
                                            filters.maxWillpower ||
                                            filters.minPresence ||
                                            filters.maxPresence ||
                                            filters.type ||
                                            filters.skill ||
                                            filters.range ||
                                            filters.quality ||
                                            filters.baseMod"
                       class="md-warn md-raised" ng-click="resetFilters()">
                Clear filters
            </md-button>
            <md-list class="filter-list">
                <md-list-item layout-margin style="margin-left: 0; margin-bottom: 0;">
                    <md-input-container flex style="margin-left: 0; margin-bottom: 0;">
                        <md-icon md-font-set="material-icons">search</md-icon>
                        <input ng-model="filters.searchText"
                               ng-change="filterItems()"
                               type="text" placeholder="Search">
                    </md-input-container>
                </md-list-item>
                <md-list-item
                        ng-if="min.Damage || max.Damage">
                    <h4 layout="row">Dmg.</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minDamage"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Damage}}"
                                   max="{{max.Damage}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxDamage"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Damage}}"
                                   max="{{max.Damage}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Soak || max.Soak">
                    <h4 layout="row">Soak</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minSoak"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Soak}}"
                                   max="{{max.Soak}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxSoak"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Soak}}"
                                   max="{{max.Soak}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Defensive || max.Defensive">
                    <h4 layout="row">Defense</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minDefensive"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Defensive}}"
                                   max="{{max.Defensive}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxDefensive"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Defensive}}"
                                   max="{{max.Defensive}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Deflection || max.Deflection">
                    <h4 layout="row">Deflec.</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minDeflection"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Deflection}}"
                                   max="{{max.Deflection}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxDeflection"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Deflection}}"
                                   max="{{max.Deflection}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Crit || max.Crit">
                    <h4 layout="row">Crit</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minCrit"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Crit}}"
                                   max="{{max.Crit}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxCrit"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Crit}}"
                                   max="{{max.Crit}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Rarity || max.Rarity">
                    <h4 layout="row">Rarity</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minRarity"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Rarity}}"
                                   max="{{max.Rarity}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxRarity"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Rarity}}"
                                   max="{{max.Rarity}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Encumbrance || max.Encumbrance">
                    <h4 layout="row">Encum.</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minEncumbrance"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Encumbrance}}"
                                   max="{{max.Encumbrance}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxEncumbrance"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Encumbrance}}"
                                   max="{{max.Encumbrance}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.HP || max.HP">
                    <h4 layout="row">HP</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minHP"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.HP}}"
                                   max="{{max.HP}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxHP"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.HP}}"
                                   max="{{max.HP}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Price || max.Price">
                    <h4 layout="row">Price</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minPrice"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Price}}"
                                   max="{{max.Price}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxPrice"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Price}}"
                                   max="{{max.Price}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.WoundThreshold || max.WoundThreshold">
                    <h4 layout="row">Wound</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minWoundThreshold"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.WoundThreshold}}"
                                   max="{{max.WoundThreshold}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxWoundThreshold"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.WoundThreshold}}"
                                   max="{{max.WoundThreshold}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.StrainThreshold || max.StrainThreshold">
                    <h4 layout="row">Strain</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minStrainThreshold"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.StrainThreshold}}"
                                   max="{{max.StrainThreshold}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxStrainThreshold"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.StrainThreshold}}"
                                   max="{{max.StrainThreshold}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Experience || max.Experience">
                    <h4 layout="row">Exp.</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minExperience"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Experience}}"
                                   max="{{max.Experience}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxExperience"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Experience}}"
                                   max="{{max.Experience}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Brawn || max.Brawn">
                    <h4 layout="row">BR</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minBrawn"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Brawn}}"
                                   max="{{max.Brawn}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxBrawn"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Brawn}}"
                                   max="{{max.Brawn}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Agility || max.Agility">
                    <h4 layout="row">AG</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minAgility"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Agility}}"
                                   max="{{max.Agility}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxAgility"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Agility}}"
                                   max="{{max.Agility}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Intelligence || max.Intelligence">
                    <h4 layout="row">INT</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minIntelligence"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Intelligence}}"
                                   max="{{max.Intelligence}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxIntelligence"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Intelligence}}"
                                   max="{{max.Intelligence}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Cunning || max.Cunning">
                    <h4 layout="row">CUN</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minCunning"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Cunning}}"
                                   max="{{max.Cunning}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxCunning"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Cunning}}"
                                   max="{{max.Cunning}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Willpower || max.Willpower">
                    <h4 layout="row">WIL</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minWillpower"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Willpower}}"
                                   max="{{max.Willpower}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxWillpower"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Willpower}}"
                                   max="{{max.Willpower}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item
                        ng-if="min.Presence || max.Presence">
                    <h4 layout="row">PR</h4>

                    <div layout="row" layout-margin>
                        <md-input-container layout="row">
                            <label>Min</label>
                            <input ng-model="filters.minPresence"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Presence}}"
                                   max="{{max.Presence}}">
                        </md-input-container>
                        <md-input-container layout="row">
                            <label>Max</label>
                            <input ng-model="filters.maxPresence"
                                   ng-change="filterItems()"
                                   type="number"
                                   min="{{min.Presence}}"
                                   max="{{max.Presence}}">
                        </md-input-container>
                    </div>
                </md-list-item>
                <md-list-item ng-if="qualities.length">
                    <h4 layout="row">Qualities</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.quality"
                                   ng-change="filterItems()"
                                   multiple=""
                                   aria-label="Qualities">
                            <md-option ng-repeat="quality in qualities"
                                       ng-value="quality">
                                {{quality}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="baseMods.length">
                    <h4 layout="row">Base mod</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.baseMod"
                                   ng-change="filterItems()"
                                   multiple=""
                                   aria-label="Base mod">
                            <md-option ng-value="">None</md-option>
                            <md-option ng-repeat="baseMod in baseMods"
                                       ng-value="baseMod">
                                {{baseMod | trustAsHtmlFilter}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="addedMods.length">
                    <h4 layout="row">Added mod</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.addedMod"
                                   ng-change="filterItems()"
                                   multiple=""
                                   aria-label="Added mod">
                            <md-option ng-value="">None</md-option>
                            <md-option ng-repeat="addedMod in addedMods"
                                       ng-value="addedMod">
                                {{addedMod | trustAsHtmlFilter}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="types.length">
                    <h4 layout="row">Type</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.type"
                                   ng-change="filterItems()"
                                   aria-label="Type">
                            <md-option ng-value="">None</md-option>
                            <md-option ng-repeat="type in types"
                                       ng-value="type">
                                {{type}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="skills.length">
                    <h4 layout="row">Skill</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.skill"
                                   ng-change="filterItems()"
                                   aria-label="Skill">
                            <md-option ng-value="">None</md-option>
                            <md-option ng-repeat="skill in skills"
                                       ng-value="skill">
                                {{skill}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="ranges.length">
                    <h4 layout="row">Range</h4>

                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.range"
                                   ng-change="filterItems()"
                                   aria-label="Range">
                            <md-option ng-value="">None</md-option>
                            <md-option ng-repeat="range in ranges"
                                       ng-value="range">
                                {{range}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
                <md-list-item ng-if="sources.length">
                    <h4 layout="row">Source</h4>
                    <div layout="column" layout-margin flex>
                        <md-select ng-model="filters.source"
                                   ng-change="filterItems()"
                                   multiple=""
                                   aria-label="Sources">
                            <md-option ng-repeat="source in sources"
                                       ng-value="source">
                                {{source}}
                            </md-option>
                        </md-select>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <div flex layout="column">
        <md-button class="md-fab md-primary md-fab-bottom-right"
                   ng-click="toggleSideNav()" hide-gt-md
                   aria-label="Show filters">
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
        <md-content flex>
            <div ng-hide="filteredItems.length == 0" style="height: 100%; overflow: auto;">
                <md-table-container>
                    <table md-table md-progress="promise">
                        <thead fix-head md-head md-order="order" md-on-reorder="filterItems">
                        <tr md-row>
                            <th md-column
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'Adversary' || name == 'Species'">
                                <md-button class="md-primary md-raised"
                                           ng-click="toggleSideNav()" hide-md hide-sm hide-xs hide-gt-lg
                                           style="padding: 0 12px"
                                           aria-label="Show filters">
                                    <md-icon md-font-set="material-icons">search</md-icon>
                                    Filter
                                    <div class="md-ripple-container"></div>
                                </md-button>
                            </th>
                            <th md-column
                                md-order-by="Name">
                                <md-button class="md-primary md-raised"
                                           ng-click="toggleSideNav()" hide-md hide-sm hide-xs hide-gt-lg
                                           style="padding: 0 12px"
                                           ng-if="name == 'ItemAttachments'"
                                           aria-label="Show filters">
                                    <md-icon md-font-set="material-icons">search</md-icon>
                                    Filter
                                    <div class="md-ripple-container"></div>
                                </md-button>
                                Name / Description
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Price"
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'ItemAttachments'">Price
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Damage"
                                ng-if="name == 'Weapon'">Dmg.
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Soak"
                                ng-if="name == 'Armor'">Soak
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Defensive"
                                ng-if="name == 'Weapon' || name == 'Armor'">Defensive
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Deflection"
                                ng-if="name == 'Weapon'">Deflection
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Crit"
                                ng-if="name == 'Weapon'">Crit.
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Rarity"
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'ItemAttachments'">Rarity
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="Encumbrance"
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear'">Encum.
                            </th>
                            <th md-column
                                md-numeric
                                md-order-by="HP"
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'ItemAttachments'">
                                HP
                            </th>
                            <th md-column
                                md-order-by="Type"
                                ng-if="name == 'Weapon' || name == 'Gear' || name == 'Adversary' || name == 'ItemAttachments'">
                                Type
                            </th>
                            <th md-column
                                md-order-by="SkillKey"
                                ng-if="name == 'Weapon'">Skill
                            </th>
                            <th md-column
                                md-order-by="RangeValue"
                                ng-if="name == 'Weapon'">Range
                            </th>
                            <th md-column
                                md-order-by="Soak"
                                ng-if="name == 'Adversary'">Soak
                            </th>
                            <th md-column
                                md-order-by="WoundThreshold"
                                ng-if="name == 'Adversary' || name == 'Species'">Wound Thr.
                            </th>
                            <th md-column
                                md-order-by="StrainThreshold"
                                ng-if="name == 'Adversary' || name == 'Species'">Strain Thr.
                            </th>
                            <th md-column
                                md-order-by="Experience"
                                ng-if="name == 'Adversary' || name == 'Species'">Experience
                            </th>
                            <th md-column
                                md-order-by="Brawn"
                                ng-if="name == 'Adversary' || name == 'Species'">BR
                            </th>
                            <th md-column
                                md-order-by="Agility"
                                ng-if="name == 'Adversary' || name == 'Species'">AG
                            </th>
                            <th md-column
                                md-order-by="Intelligence"
                                ng-if="name == 'Adversary' || name == 'Species'">INT
                            </th>
                            <th md-column
                                md-order-by="Cunning"
                                ng-if="name == 'Adversary' || name == 'Species'">CUN
                            </th>
                            <th md-column
                                md-order-by="Willpower"
                                ng-if="name == 'Adversary' || name == 'Species'">WIL
                            </th>
                            <th md-column
                                md-order-by="Presence"
                                ng-if="name == 'Adversary' || name == 'Species'">PR
                            </th>
                            <th md-column
                                md-order-by="ForceRating"
                                ng-if="name == 'Adversary'">Force
                            </th>
                            <th md-column
                                ng-if="name == 'Adversary'">Talents
                            </th>
                            <th md-column
                                ng-if="name == 'Adversary'">Skills
                            </th>
                            <th md-column
                                ng-if="name == 'Weapon'">Qualities
                            </th>
                            <th md-column
                                ng-if="name == 'ItemAttachments'">
                                Limits
                            </th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-repeat="item in outputItems">
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'Adversary' || name == 'Species'"
                                style="text-align: center;">
                                <img style="max-width: 100px; max-height: 100px; display: inline-block;"
                                     ng-src="{{item.imageUrl}}"
                                     err-src="img/no_image.png"
                                     alt="{{item.Name}}"
                                     layout="column"
                                     layout-margin/>
                            </td>
                            <td md-cell>
                                <div class="sw-description" style="min-width: 200px"
                                     ng-bind-html="item.Description"></div>
                                <div class="sw-description" ng-if="name == 'Species'">
                                    <div ng-if="item.OptionChoices.Option">
                                        <p>Choose <strong>one</strong> option:</p>
                                        <ul>
                                            <li ng-repeat="option in item.OptionChoices.Option">
                                                <strong>{{option.Name}}</strong>: <span
                                                    ng-bind-html="option.Description"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-if="item.SpecialAbilities.SpecialAbility">
                                        <p>Special abilities:</p>
                                        <ul>
                                            <li ng-repeat="ability in item.SpecialAbilities.SpecialAbility">
                                                <strong>{{ability.Name}}</strong>: <span
                                                    ng-bind-html="ability.Description"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-if="item.Talents.length">
                                        <p>Talents:</p>
                                        <ul>
                                            <li ng-repeat="talent in item.Talents">
                                                <strong>{{talent.Name}}</strong>: {{talent.RankAdd}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div ng-if="item.Skills.length">
                                        <p>Skills:</p>
                                        <ul>
                                            <li ng-repeat="skill in item.Skills">
                                                <span ng-if="skill.Name"><strong>{{skill.Name}}</strong>: {{skill.RankAdd}}</span>
                                                <span ng-if="skill.Special"><strong>{{skill.Special}}</strong></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sw-description" ng-if="item.Sources">
                                    <div ng-if="item.Sources.length == 1 && item.Sources[0].Book">
                                        <i>Source: {{item.Sources[0].Book}}<span ng-if="item.Sources[0].Page"> page {{item.Sources[0].Page}}</span></i>
                                    </div>
                                    <div ng-if="item.Sources.length > 1">
                                        <p><i>Sources:</i></p>
                                        <ul>
                                            <li ng-repeat="source in item.Sources">
                                                <i>{{source.Book}}<span ng-if="source.Page"> page {{source.Page}}</span></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'ItemAttachments'">
                                <span ng-show="item.Price > 0">{{item.Price}}</span>
                                <span ng-hide="item.Price > 0">-</span>
                            </td>
                            <td md-cell ng-if="name == 'Weapon'">
                                    <span class="no-break">
                                        <span ng-if="item.SkillKey == 'Melee' || item.SkillKey == 'Lightsaber' || item.SkillKey == 'Brawl' || item.Type == 'Thrown'">
                                            <span ng-show="item.DamageAdd && item.DamageAdd > 0">BR (+{{item.DamageAdd}})</span>
                                            <span ng-show="item.DamageAdd && item.DamageAdd < 0">BR ({{item.DamageAdd}})</span>
                                            <span ng-show="!item.Damage && !item.DamageAdd">BR</span>
                                            <span ng-show="item.Damage && !item.DamageAdd">{{item.Damage}}</span>
                                        </span>
                                        <span ng-if="item.SkillKey != 'Melee' && item.SkillKey != 'Lightsaber' && item.SkillKey != 'Brawl' && item.Type != 'Thrown'">
                                            <span ng-show="item.Damage">{{item.Damage}}</span>
                                            <span ng-show="item.DamageAdd">(+{{item.DamageAdd}})</span>
                                            <span ng-hide="item.Damage || item.DamageAdd">-</span>
                                        </span>
                                    </span>
                            </td>
                            <td md-cell ng-if="name == 'Armor'">{{item.Soak}}</td>
                            <td md-cell ng-if="name == 'Weapon' || name == 'Armor'">{{item.Defensive}}</td>
                            <td md-cell ng-if="name == 'Weapon'">{{item.Deflection}}</td>
                            <td md-cell ng-if="name == 'Weapon'">
                                <span ng-show="item.Crit > 0">{{item.Crit}}</span>
                                <span ng-hide="item.Crit > 0">-</span>
                            </td>
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear' || name == 'ItemAttachments'">
                                <span ng-show="item.Rarity > 0">{{item.Rarity}}</span>
                                <span ng-hide="item.Rarity > 0">-</span>
                            </td>
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'Gear'">
                                <span ng-show="item.Encumbrance > 0">{{item.Encumbrance}}</span>
                                <span ng-hide="item.Encumbrance > 0">-</span>
                            </td>
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Armor' || name == 'ItemAttachments'">
                                <span ng-show="item.HP > 0">{{item.HP}}</span>
                                <span ng-hide="item.HP > 0">-</span>
                            </td>
                            <td md-cell
                                ng-if="name == 'Weapon' || name == 'Gear' || name == 'Adversary' || name == 'ItemAttachments'">
                                {{item.Type}}
                            </td>
                            <td md-cell ng-if="name == 'Weapon'">{{item.SkillKey}}
                            </td>
                            <td md-cell ng-if="name == 'Weapon'">
                                {{item.RangeValue}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary'">
                                {{item.Soak}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.WoundThreshold}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                <span ng-show="item.StrainThreshold > 0">{{item.StrainThreshold}}</span>
                                <span ng-hide="item.StrainThreshold > 0">-</span>
                            </td>
                            <td md-cell ng-if="name == 'Species'">
                                <span ng-show="item.Experience > 0">{{item.Experience}}</span>
                                <span ng-hide="item.Experience > 0">-</span>
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Brawn}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Agility}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Intelligence}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Cunning}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Willpower}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary' || name == 'Species'">
                                {{item.Presence}}
                            </td>
                            <td md-cell ng-if="name == 'Adversary'">
                                <span ng-show="item.ForceRating > 0">{{item.ForceRating}}</span>
                                <span ng-hide="item.ForceRating > 0">-</span>
                            </td>
                            <td md-cell ng-if="name == 'Adversary'">
                                <div class="sw-qualities">
                                    <div class="no-break" ng-if="item.Talents.length"
                                         ng-repeat="talent in item.Talents">
                                        <md-tooltip md-direction="left">{{talent.Description}}</md-tooltip>
                                        {{talent.Name}} <span ng-show="talent.Rank > 0">{{talent.Rank}}</span>
                                    </div>
                                </div>
                            </td>
                            <td md-cell ng-if="name == 'Adversary'">
                                <div class="sw-qualities">
                                    <div class="no-break" ng-if="item.Skills.length"
                                         ng-repeat="skill in item.Skills">
                                        {{skill.Name}} {{skill.Rank}}
                                    </div>
                                </div>
                            </td>
                            <td md-cell ng-if="name == 'Weapon'">
                                <div class="sw-qualities">
                                    <div class="no-break" ng-if="item.Qualities.length"
                                         ng-repeat="quality in item.Qualities">
                                        <md-tooltip md-direction="left">{{quality.Tooltip}}</md-tooltip>
                                        {{quality.Key}} <span ng-show="quality.Count > 0">{{quality.Count}}</span>
                                    </div>
                                </div>
                            </td>
                            <td md-cell ng-if="name == 'ItemAttachments'">
                                <div class="sw-qualities">
                                    <div class="no-break" ng-repeat="categoryLimit in item.CategoryLimit">
                                        <strong>Category:</strong> {{categoryLimit}}
                                    </div>
                                    <div class="no-break" ng-repeat="itemLimit in item.ItemLimit">
                                        <span ng-if="isString(itemLimit)"><strong>Item:</strong> {{itemLimit}}</span>
                                        <div ng-if="isObject(itemLimit)" class="no-break" ng-repeat="item in itemLimit">
                                            <strong>Item:</strong> {{item}}
                                        </div>
                                    </div>
                                    <div class="no-break" ng-repeat="skillLimit in item.SkillLimit">
                                        <span ng-if="isString(skillLimit)"><strong>Skill:</strong> {{skillLimit}}</span>
                                        <div ng-if="isObject(skillLimit)" class="no-break" ng-repeat="skill in skillLimit">
                                            <strong>Skill:</strong> {{skill}}
                                        </div>
                                    </div>
                                    <div class="no-break" ng-repeat="typeLimit in item.TypeLimit">
                                        <strong>Type:</strong> {{typeLimit}}
                                    </div>
                                    <div ng-if="item.IsCrystal">
                                        <div><strong>Category:</strong> Lightsaber</div>
                                        <div><strong>Category:</strong> Lightsaber Hilt</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <md-button
                                ng-if="outputItems.length < filteredItems.length"
                                class="md-primary md-raised" ng-click="increaseLimit()">
                            <span ng-hide="loading">Show more</span>
                            <span ng-show="loading">Please wait...</span>
                        </md-button>
                        <md-button
                                ng-if="outputItems.length < filteredItems.length"
                                class="md-primary md-raised" ng-click="showAll()"
                                ng-hide="loading">
                            <span>Show all</span>
                        </md-button>
                    </div>
                </md-table-container>
            </div>
            <md-card layout-padding
                     ng-if="filteredItems.length == 0">
                            <span layout="column" layout-align="center center" ng-if="filters.searchText ||
                                            filters.minDamage ||
                                            filters.maxDamage ||
                                            filters.minSoak ||
                                            filters.maxSoak ||
                                            filters.minDefensive ||
                                            filters.maxDefensive ||
                                            filters.minDeflection ||
                                            filters.maxDeflection ||
                                            filters.minCrit ||
                                            filters.maxCrit ||
                                            filters.minRarity ||
                                            filters.maxRarity ||
                                            filters.minEncumbrance ||
                                            filters.maxEncumbrance ||
                                            filters.minHP ||
                                            filters.maxHP ||
                                            filters.minPrice ||
                                            filters.maxPrice ||
                                            filters.minWoundThreshold ||
                                            filters.maxWoundThreshold ||
                                            filters.minStrainThreshold ||
                                            filters.maxStrainThreshold ||
                                            filters.minExperience ||
                                            filters.maxExperience ||
                                            filters.minBrawn ||
                                            filters.maxBrawn ||
                                            filters.minAgility ||
                                            filters.maxAgility ||
                                            filters.minIntelligence ||
                                            filters.maxIntelligence ||
                                            filters.minCunning ||
                                            filters.maxCunning ||
                                            filters.minWillpower ||
                                            filters.maxWillpower ||
                                            filters.minPresence ||
                                            filters.maxPresence ||
                                            filters.type ||
                                            filters.skill ||
                                            filters.range ||
                                            filters.quality ||
                                            filters.baseMod">
                                <md-icon md-font-set="material-icons">not_interested</md-icon>
                                <strong>No items found</strong>
                                <md-button class="md-warn md-raised"
                                           ng-click="resetFilters()">
                                    Clear filters
                                </md-button>
                            </span>
                            <span layout="column" layout-align="center center" ng-if="!(filters.searchText ||
                                            filters.minDamage ||
                                            filters.maxDamage ||
                                            filters.minSoak ||
                                            filters.maxSoak ||
                                            filters.minDefensive ||
                                            filters.maxDefensive ||
                                            filters.minDeflection ||
                                            filters.maxDeflection ||
                                            filters.minCrit ||
                                            filters.maxCrit ||
                                            filters.minRarity ||
                                            filters.maxRarity ||
                                            filters.minEncumbrance ||
                                            filters.maxEncumbrance ||
                                            filters.minHP ||
                                            filters.maxHP ||
                                            filters.minPrice ||
                                            filters.maxPrice ||
                                            filters.minWoundThreshold ||
                                            filters.maxWoundThreshold ||
                                            filters.minStrainThreshold ||
                                            filters.maxStrainThreshold ||
                                            filters.minExperience ||
                                            filters.maxExperience ||
                                            filters.minBrawn ||
                                            filters.maxBrawn ||
                                            filters.minAgility ||
                                            filters.maxAgility ||
                                            filters.minIntelligence ||
                                            filters.maxIntelligence ||
                                            filters.minCunning ||
                                            filters.maxCunning ||
                                            filters.minWillpower ||
                                            filters.maxWillpower ||
                                            filters.minPresence ||
                                            filters.maxPresence ||
                                            filters.type ||
                                            filters.skill ||
                                            filters.range ||
                                            filters.quality ||
                                            filters.baseMod)">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </span>
            </md-card>
        </md-content>
    </div>
</div>
